/* General */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Layout */

.myproduct-add-button {
  display: flex;
}

.myproduct-image-sizing {
  width: 30vw;
  height: 20vw;
}

/* Styling */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Media Responsiveness

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .myproduct-main-container {
    margin-left: 7vw;
    margin-right: 7vw;
  }

  .myproduct-image-sizing {
    width: 24vw;
    height: 16vw;
  }

  .myproduct-card-title {
    margin-bottom: 2.5rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .myproduct-main-container {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .myproduct-image-sizing {
    width: 12vw;
    height: 8vw;
  }
}