/* General */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Layout */

.main-container {
  display: flex;
  flex-direction: column;
}

.photo-container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  order: 1;
}

.button-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 20% 60% 20%;
  margin: 10px;
  order: 3;
}

.table-container {
  display: flex;
  margin: 10px;
  order: 2;
}


.button1 {
  display: grid;
  grid-area: 1/2/1/3;
}

.button2 {
  display: grid;
  grid-area: 2/2/2/3;
}

.button3 {
  display: grid;
  grid-area: 3/2/3/3;
}

/* Styling */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/* Media Responsiveness

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 55% 45%;
  }

  .button-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(3, 1fr);
  }

  .button1 {
    display: grid;
    grid-area: 1/2/1/3;
  }
  
  .button2 {
    display: grid;
    grid-area: 2/2/2/3;
  }
  
  .button3 {
    display: grid;
    grid-area: 3/2/3/3;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70% 30%;
  }

  .photo-container {
    justify-content: center;
    grid-area: 1/2/1/3;
  }

  .table-container {
    display: grid;
    margin: 10px;
    grid-area: 1/3/1/4;
  }

  .button-container {
    grid-template-columns: 1fr;
    grid-area: 2/2/2/3;
  }

  .button1 {
    grid-area: 1/1/1/1;
  }
  
  .button2 {
    grid-area: 2/1/2/1;
  }
  
  .button3 {
    grid-area: 3/1/3/1;
  }
}
