.position {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  margin-top: 100px;
  /* opacity: 0.5; */
}

.logoSirclo {
  width: 32.5%;
  height: auto;
}

.logoVisaMaster {
  width: 32.5%;
  height: auto;
  margin-bottom: 5px;
}

.logoGooApp {
  width: 15%;
  height: auto;
}
